gamegrid{
    display: grid;
    gap: 10px;
    grid-template: 150px 150px 150px/150px 150px 150px;
    background-color: blueviolet;
    width: 470px;
    margin-left: 520px;
    margin-top: 200px;
    height: 470px;
}
h1{
    top:50px;
    left:510px;
    position:fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    background-color: aqua;
    text-align: center;
    width: 500px;
    height: 60px;
}
mdata{
    position:fixed;
    top:250px;
    left:110px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    background-color: aqua;
    color: blueviolet;
    font-size: 50px;
}
resultdata{
    position:fixed;
    top:250px;
    /* right:110px; */
    left: 1100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    background-color: aqua;
    color: blueviolet;
    font-size: 50px;
}
ca,cb,cc,cd,ce,cf,cg,ch,ci{
    width:150px;
    height:150px;
    background-color: rgb(223, 241, 187);
    font-size: 120px;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(199, 246, 248);
    color: blueviolet;
    
}
ca:hover,cb:hover,cc:hover,cd:hover,ce:hover,cf:hover,cg:hover,ch:hover,ci:hover{
    background-color: aqua;
    
}
body{
    background-color: blueviolet;
}
button{
    width: 100px;
    height: 50px;
}
restart{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: 705px;
}
